---
apiVersion: v1
kind: Service
metadata:
  name: webapp
  labels:
    app: webapp
    environment: dev
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: webapp
